#navbar{
    display:flex;
    justify-content:center;
    gap:20px;
    width:auto;
    background-color: aquamarine;
    padding:15px;
}
a{
    text-decoration:none;

}
a:hover{
    color:brown;
}
#form{
    display:grid;
    gap:20px;
    width:50px;
    justify-content:column;
    align-items:center;
    align-items:center;
    
    
}
#form>div{
justify-content: column;
gap:20px;
padding:20px;
margin:auto;
}
.form>.details{
display:grid;
gap:20px;
width:30px;
padding:20px;

}